@model ProxyViewModel

@{
    ViewData["Title"] = $"Proxy: {Model.Name} [{Model.UserName}]";
}

<div class="media">
    <img class="mr-3 rounded-circle avatar" src="@Url.Action("View", "Avatar", new {id = Model.AvatarGuid})" alt="Avatar for @Model.Name" />
    <div class="media-body">
        <h2 class="mt-0">@Model.Name [@Model.UserName]</h2>
        <dl class="row">
            <dt class="col-1">Command:</dt>
            <dd class="col-11">@Model.Prefix<span class="text-muted">[text]</span>@Model.Suffix</dd>
            <dt class="col-1">About:</dt>
            <dd class="col-11">
                @if (string.IsNullOrWhiteSpace(Model.Biography))
                {
                    <span class="text-muted font-italic">No biography</span>
                }
                else
                {
                    <span>@Model.Biography</span>
                }
            </dd>
            <dt class="col-1">Channels:</dt>
            <dd class="col-11">
                @if (Model.IsGlobal)
                {
                    <span class="text-muted font-italic">Global proxy</span>
                }
                else
                {
                    <ul>
                        @foreach (var c in Model.DiscordChannels)
                        {
                            var dbChannel = Model.DbChannels.FirstOrDefault(d => d.Channel.DiscordId == c.Id);
                            <li>
                                <a href="@Url.Action("Details", "Channels", new{id=dbChannel.Channel.Id})">@c.Guild.Name: @c.Name</a>
                            </li>
                        }
                    </ul>
                }
            </dd>
        </dl>
    </div>
</div>
<hr />
<div>
    @if (ViewBag.User.CanEditFor(Model.DiscordUserId))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>@: ||
    }
    <a asp-action="Index">Back to List</a>
</div>
