@model ProxyViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proxy</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prefix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Suffix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Suffix)
        </dd>
        @if (ViewBag.User.IsAllowedGlobal)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsGlobal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsGlobal)
            </dd>
        }
        @if (!Model.IsGlobal)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Channels)
            </dt>
            <dd class="col-sm-10">
                <ul>
                    @foreach (var channel in Model.DiscordChannels)
                    {
                        var dbChannel = Model.DbChannels.Select(c => c.Channel).FirstOrDefault(c => c.DiscordId == channel.Id);
                        if (dbChannel != null)
                        {
                            <li><a asp-action="Details" asp-controller="Channels" asp-route-id="@dbChannel.Id">@channel.Guild.Name: @channel.Name</a></li>
                        }
                        else
                        {
                            <li>Guild.Name: @channel.Name</li>
                        }
                    }
                </ul>
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd class="col-sm-10">
            @if (Model.HasAvatar)
            {
                <img src="@Url.Action("Avatar", new {id = Model.Id})" alt="Avatar for @Model.Name"/>
            }
            else
            {
                <p>No avatar.</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
