@model IEnumerable<ChannelViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscordId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMonitored)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRegistered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscordId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMonitored)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRegistered)
            </td>
            @if (item.IsRegistered)
            {
                <td>
                    <a asp-action="Message" asp-route-id="@item.DatabaseId">Send Message</a> |
                    <a asp-action="Edit" asp-route-id="@item.DatabaseId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DatabaseId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DatabaseId">Delete</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Create" asp-route-id="@item.DiscordId">Create</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
